@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide {
    /* Firefox */
    scrollbar-width: none;
    /* IE and Edge */
    -ms-overflow-style: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    /* Webkit browsers (Chrome, Safari) */
    display: none;
  }
}
